@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

h1, h2, h3, h4{
  /* font-family: Montserrat; */
  font-family: 'Roboto Slab', serif;
  color: #28bbb2;
}

.nav-item{
    text-align: center;
}

#welcome-image{
     height:850px;
    width:100%;
  /* border: 2px solid black; */
    opacity: 0.5;
   background: url("https://get.pxhere.com/photo/laptop-desk-book-pencil-creative-advertising-brand-product-design-graphic-design-33.jpg") no-repeat center;
  background-size: contain;
  animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 767px) {
   #welcome-image{
    height:240px;
    width:100%;
  /* border: 2px solid black; */
  opacity: 0.5;
   background: url("https://get.pxhere.com/photo/laptop-desk-book-pencil-creative-advertising-brand-product-design-graphic-design-33.jpg") no-repeat center;
  background-size: contain;
  }
}

.welcome-img{
width: 100%;
  height: auto;
  opacity: 0.5;
}

h2{text-align: center;}

p{
    font-family: 'Roboto Slab', serif;
  text-align: center;
}

#headshot{
  background: url("https://github.com/daithioc95/miniProject1/blob/master/assets/images/logo.jpg?raw=true") no-repeat center center;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

@keyframes hero-zoom{
  from{
    transform: scale(0.9)
  }
  to{
    transform: scale(1)
  }
}

/* div{border: 1px solid black;} */



#circle-container{width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: #28bbb270;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;}

#ci-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/d83c00c17613472e37035f3c80d09a7c9dde36d6/assets/images/logos/codeinstitute_logo.png?raw=true") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

#zheda-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/8c6c5d1bf5b5cc7b7edddcd8f3ed60767ee06317/assets/images/logos/Zhejiang_University_Logo.png?raw=true") no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}

#ucd-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/master/assets/images/logos/UCD_logo.png?raw=true") no-repeat center center;
  background-size: contain;
}

#ppb-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/c5c72cd462025c7e859d20acf8eee487a3075d2f/assets/images/logos/PPB_logo.jpg?raw=true") no-repeat center center;
  background-size: contain;
}

#cb-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/c5c72cd462025c7e859d20acf8eee487a3075d2f/assets/images/logos/coderbunker-cropped.png?raw=true") no-repeat center center;
  background-size: contain;
}

#gge-logo-circle-container{
width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/cb71b41efaace90d7b2ac3b8787317c2b2d8a636/assets/images/logos/gge_logo.png?raw=true") no-repeat center center;
  background-size: contain;
}

#yosemite-logo-circle-container{
    width: 120px;
  height: 120px;
  padding: 0px;
  margin: 0 auto;
  background: url("https://github.com/daithioc95/MS1/blob/cb71b41efaace90d7b2ac3b8787317c2b2d8a636/assets/images/logos/yosemite_logo.jpg?raw=true") no-repeat center center;
  background-size: contain;
}

/* h5.mb-1{
    margin-top: 20px;
} */

  #center-about{clear: both;
                    width: 100%;
                    float: left;
                    padding: 0;}

#footer-social{
  text-align: center;
}


.list-inline.social-links{
  margin-bottom: 0;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #fafafa;
    background  : #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: 20px 20px 15px 20px;
} 



.social-links li a i:hover{
    background:#28bbb2;
}

#brand{
  color: #28bbb2;}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #28bbb2;
}

.progress-type{width: 73px;
    background-color: #28bbb2;
    color: white;
    height: 100%;
    text-align: center;
    padding: 5px 10px 5px 10px;
    font-weight: 500}

.progress-amount{text-align: center;
    padding: 5px;
    font-weight: 500}

.progress {
    margin-bottom: 20px;
    height: auto;
}

.progress-amount{
    margin-left: auto;
}

.progress-section{
    margin-top: 55px;
}

h2#about-heading, h2#skills-heading, h2#experience-heading, h2#portfolio-heading, h2#contact-heading {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* h2#experience-heading{
    margin-left: 30px;
} */
footer {
    background-color: #f8f9fa;
    padding: 25px;
    margin-top: 30px;
    border-top:     2px solid rgba(40,187,178,.75)
;
}

/* experience map */
a {
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
/*   text-transform: uppercase; */
  text-decoration: none;
  color: #28bbb2;
}

/* try bottom 2 to apply for desktop only? */
.distribution-map > a:visited {
  color: #28bbb2;
}
.distribution-map > li.active a, .distribution-map > a:hover, .distribution-map > a:active {
  color: #28bbb2;
}



.centered-y {
  position: absolute;
  width: 100%;
  top: 50%; 
/*   align top above with line 124 */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
/*   above 3 controls position inside box */
}

.distribution-map {
  position: relative;
  width: 100%;
  padding: 20px; 
/*   changed padding from 20px */
  box-sizing: border-box;
  margin: 0 auto;
}
.distribution-map > img {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.distribution-map .map-point {
  cursor: pointer;
  outline: none;
  z-index: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; 
  -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
  -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
  transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s; 
/*   background: rgb(255,193,7, 0.9); */
background: rgba(255,255,255, 0.5); 
/*   play with above to change bg for text */
  border: 3px solid #28bbb2;
}
.distribution-map .map-point .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
  height: 100%;
  left: 50%;
    -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: auto;
  padding: 5px 5px 5px 5px;
}

.distribution-map .map-point:active, .distribution-map .map-point:focus {
  margin: 0;
  padding: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 800px;  /*  controls expanded box width */
  height: 500px;  /*  controls expanded box height */
  color: black;
  z-index: 1;
 -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out; 
}
.distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
-moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  -webkit-transition-delay: 0.25s, 0s, 0s;
  -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out; 
  overflow: visible;
}
/* .distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
  color: black;
} */

#thailand.map-point:active, #thailand.map-point:focus{height: 220px;

}
#thailand.map-point{
   -webkit-transform: translate(-90%, -30%);
  transform: translate(-80%, -40%);

}

#china.map-point:active, #china.map-point:focus{height: 600px;
    width: 900px;

}
#china.map-point{
   -webkit-transform: translate(-90%, -30%);
  transform: translate(-80%, -30%);
 
}

#usa.map-point:active, #usa.map-point:focus{height: 200px;

}
#usa.map-point{
   -webkit-transform: translate(-10%, -10%);
  transform: translate(-10%, -10%);

}

#ireland.map-point:active, #ireland.map-point:focus{height: 500px;

}
#ireland.map-point{
   -webkit-transform: translate(-90%, -30%);
  transform: translate(-40%, -15%);
}

/* map additional */
/* html {
  background: #1a1a1a;
  color: #28bbb2;
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif;
} */

 .distribution-map { 
  /* max-width: 1200px;
  margin: 20px auto;
  padding: 0 100px;
  overflow-x: auto; */
  font-weight: 100;
} 

.description {
  max-width: 600px;
  margin: 0 auto;
  color: #28bbb2;
}

.distribution-map div, .distribution-map img, .distribution-map footer {
  position: relative;
/*   box-sizing: border-box; */
}

/* h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  font-family: "Roboto Condensed", Helvetica, sans-serif;
font-weight: 300;
} */

/* h1 {
  font-size: 36pt;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}


p{
    font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 16px;
}

strong {
  font-weight: 900;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #28bbb2;
} */

#atlas{
    opacity: 0.7;
}

.experience-icon{
    margin-right: 10px;
    margin-top: 10px;
}

.exp-des{
    border: none;
}

.exp-media:hover {
    color: #28bbb2;
}
.exp-media {
    color: black;
}

.mobile-exp{
    text-align: center;
}

.mob-ul-list-exp{
    padding-left: 10px;
    /* color: #28bbb2; */
}

.mob-li-list-exp{
    margin-bottom: 25px;
}
/* margin left = 10  */

/* .exp-media{list-style-type: none;} */

.portfolio-image{
    /* border: 2px solid black; */
    /* padding-bottom: 100%; */
    position: relative;
    
}

.btt_logo, .portfolio-2-image, .portfolio-3-image, .portfolio-4-image{
    width: 100%;
}

.btt_logo{
    padding-top: 5%;
    padding-bottom: 5%;
}

.hvr-sweep-to-top:before{
  background: #28bbb2;
  opacity: 0.5;
  z-index: 1;
}

#contact-form{
    text-align: center;
    margin: 0px auto;
    width: 70%;
}

.form-group{
    margin-top: 15px;
}

#header-menu{
    border-bottom: 2px solid rgba(40,187,178,.75);

}

#FullStack-heading, #Communication-heading{
    text-align: center;
}

.edu-logo-heading{
    color:#28bbb2;
}

.experience-icon{
    margin-bottom: 15px;
}

.qualitative-skills{
    margin-left: 0;
}

.text-muted{
    display: block;
    margin-top: 5px;
}

.span-h5, .span-h6{font-weight: 500;
    color: inherit;}

.span-h5{font-size: 20px;}

.span-h6{font-size: 15px;}

