h1{
  font-family: Montserrat;
}

#welcome-image{
     height:850px;
    width:100%;
  /* border: 2px solid black; */
    opacity: 0.5;
   background: url("https://get.pxhere.com/photo/laptop-desk-book-pencil-creative-advertising-brand-product-design-graphic-design-33.jpg") no-repeat center;
  background-size: contain;
  animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 767px) {
   #welcome-image{
    height:240px;
    width:100%;
  /* border: 2px solid black; */
  opacity: 0.5;
   background: url("https://get.pxhere.com/photo/laptop-desk-book-pencil-creative-advertising-brand-product-design-graphic-design-33.jpg") no-repeat center;
  background-size: contain;
  }
}

h2{text-align: center;}

p{
  text-align: center;
}

#headshot{
  background: url("https://github.com/daithioc95/miniProject1/blob/master/assets/images/logo.jpg?raw=true") no-repeat center center;
  height: 100%;
  background-size: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

@keyframes hero-zoom{
  from{
    transform: scale(0.9)
  }
  to{
    transform: scale(1)
  }
}

/* div{border: 1px solid black;} */

#circle-container{width: 300px;
  height: 300px;
  padding: 30px;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 50%;
  margin: 0 auto;}

  #center-about{clear: both;
                    width: 100%;
                    float: left;
                    padding: 0;}

#footer-social{
  text-align: center;
}

footer{
  background-color: #f8f9fa;
  padding-top: 10px;
}

.list-inline.social-links{
  margin-bottom: 0;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 40px;
    height: 40px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 15px;
    text-align: center;
    color: #fafafa;
    background  : #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    margin: 20px 20px 15px 20px;
} 



.social-links li a i:hover{
    background:#28bbb2;
}

#brand{
  color: #28bbb2;}